<section class="bg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="email-listing">
          <div class="email-listing-inner jumbotron">
            <h4>Emails</h4>
            <ul>
              <li *ngFor="let data of contact?.email"> {{data}}</li>
            </ul>
            <div class="back-button">
              <button routerLink="/contacts" class="btn btn-back">Back</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

